/******************************
  Color Palette:
    Greens:
      *Darkest*  #363f1a #797B5A #BDB69A  *Lightest*
    Tans:
      *Darkest*  #262114 #3F362C #7F7160 #BFAF9A #FFEEDA  *Lightest*
******************************/


/******************************
  Global
******************************/
/* Border Box Sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Carter+One|Montserrat');

body {
  background: #363F1A;
  color: #7F7160;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  line-height:1.6;
}

.wrapper {
  background: #FFEEDA;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, .25);
  width: 92%;
  max-width: 1130px;
  margin: 150px auto 0;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
}

/******************************
  Headers
******************************/
h1, h2 {
  color: #7F7160;
  font-family: 'Carter One', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25em;
}

/******************************
   Keyframe Animations
******************************/
@keyframes swivel {
  0% {
  transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(-1deg);
  }
  
  75% {
    transform: rotate(1deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

@keyframes reverse_swivel {
  0% {
  transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(1deg);
  }
  
  75% {
    transform: rotate(-1deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

/******************************
  Links
******************************/
a:link, 
a:visited {
  display: block;
  color: #FFEEDA;
  text-decoration: none;
}

/******************************
  Lists
******************************/
ul {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  margin: 0;
}

li {
  display: inline-block;
  background: #363F1A;
  text-align: center;
  margin: 0 10px;
}

/******************************
   Main Navigation
******************************/
header {
  background: #4A5A28;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .25);
  z-index: 1000;
}

header a {
  padding: 10px;
}

header li:first-of-type {
  background: none;
  font-family: 'Carter One', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  flex: 1;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, .25);
  box-shadow: none;
  width: 100%;
  
  transition: text-shadow .4s;
}

header li:first-of-type:hover {
  text-shadow: 10px 10px 0 rgba(0, 0, 0, .25);
  box-shadow: none;
}

header li {
  list-style: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 0 rgba(0, 0, 0, .25);
  
  transition: box-shadow .25s;
}

header li:hover {
  box-shadow: inset 10px 10px 0 rgba(0, 0, 0, .25);
}

/******************************
   Footer
******************************/
footer {
  text-align: center;
  color: rgba(255, 255, 255, .2);
  padding: 20px;
}

/******************************
   Homepage
******************************/
.home {
  background-image: url("../img/Overlay_Trees.png"),
                    url("../img/Deer_Logo.png"),
                    url("../img/Distant_trees.png"), 
                    linear-gradient(#FFEEDA 300px, #797B5A 300px, #797B5A 1200px, #363F1A 1200px);
  background-attachment: scroll, fixed, scroll;
  background-repeat: repeat-x, no-repeat, repeat-x;
  background-size: auto, 50vmin, auto;
  background-position: center 450px, 
                       center 200px, 
                       center 300px, 
                       center top;
}

.home .wrapper {
  margin: 1200px auto 0;
}

/******************************
   Bio
******************************/
.bio #bio {
  
}

.bio #bio section {
  margin: 0 10px;
  width: 50%;
}

.bio #bio section:nth-child(1) {
    width: 400px;
}

/******************************
   Resume
******************************/
.bio #resume {
  
}

.bio #resume section {
    
}

/******************************
   Portfolio
******************************/
.portfolio .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio figure {
  display: inline-block;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, .25);
  margin: 20px;
  position: relative;
  min-width: 250px;
  max-width: 500px;
  flex: 1;
  
  transform-origin: 50% 25px;
}

.portfolio figure:hover {
  animation: swivel .5s;
  animation-timing-function: ease-in-out;
}

.portfolio figure:hover .pin {
  animation: reverse_swivel .5s;
  animation-timing-function: ease-in-out;
}

.portfolio .pin {
  background-image: url("../img/push-pin.svg");
  width: 100px;
  height: 100px;
  top: -25px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
}

.portfolio figure a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .aspect {
  border-radius: 5px;
  margin: 10px;
}

.portfolio figure img {
  width: 100%;
}

.portfolio figcaption {
  flex: 1;
}

.portfolio figcaption h2, p {
  margin: 10px;
}

/******************************
   Contact
******************************/
.contact {
    
}

label, input {
    display: block;
    margin: 1em;
}

input[type="submit"] {
    border: none;
}

/******************************
   Media Queries
******************************/
/* Mobile: 320px = 20em */
@media screen and (max-width: 48em) { 
  body {
    font-size: 1em;
  }
  
  header ul {
    flex-direction: column;
  }
  
  header li:first-of-type {
    margin: 0;
    font-size: 10vw;
  }
  
  header li {
    margin: 0 0 10px 0;
    width: 100%;
  }
  
  .wrapper {
    margin: 250px auto 0;
  }
  
  .portfolio .wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
  header li:first-of-type {
    font-size: 2em;
  }
}

/* Desktop: 1280px = 80em */

@media screen and (min-width: 80em) { 
  header li:first-of-type {
    font-size: 3em;
  }
}
