/* Your Awesome Styling*/

/* Bio */
.bio #bio {
    background: gray;
    display: flex;
    justify-content: space-between;
}

.bio #bio section {
    margin: 0 10px;
    width: 50%;
}

.bio #bio section:nth-child(1) {
    width: 400px;
}

/* Resume */
.bio #resume {
    background: orange;
    display: flex;
    flex-flow: wrap row;
}

.bio #resume section {
    flex: 1 25%;
    
}

/* Form */
.contact {
    
}

label, input {
    display: block;
    margin: 1em;
}

input[type="submit"] {
    border: none;
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}