/******************************
  Color Palette:
    Greens:
      *Darkest*  #363f1a #797B5A #BDB69A  *Lightest*
    Tans:
      *Darkest*  #262114 #3F362C #7F7160 #BFAF9A #FFEEDA  *Lightest*
******************************/


/******************************
  Global
******************************/
/* Border Box Sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  outline: solid black;*/
}

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Carter+One|Montserrat');

body {
  background: #363F1A;
  color: #7F7160;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  line-height:1.6;
}

.wrapper {
  position: relative;
  background: #FFEEDA;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, .25);
  width: 92%;
  max-width: 1130px;
  margin: 150px auto 0;
  border-radius: 10px;
  padding: 20px;
  z-index: 9;
}

/* Canvas Texture Overlay */
.texture {
  background-image: url("../img/Canvas_Transparent.png");
  background-blend-mode: multiply;
}

#current {
  color: #BFAF9A;
}

/******************************
  Headers
******************************/
h1, h2 {
  color: #7F7160;
  font-family: 'Carter One', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.125em;
}

/******************************
   Keyframe Animations
******************************/
@keyframes swivel {
  0% {
  transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(-1deg);
  }
  
  75% {
    transform: rotate(1deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

@keyframes reverse-swivel {
  0% {
  transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(1deg);
  }
  
  75% {
    transform: rotate(-1deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

/******************************
  Links
******************************/
a:link, 
a:visited {
  display: block;
  color: #FFEEDA;
  text-decoration: none;
}

/******************************
  Lists
******************************/
ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1130px;
  padding: 0px;
  margin: 0 auto;
  width: 92%;
}

li {
  display: inline-block;
  text-align: center;
/*  margin-left: 10px;*/
}

/******************************
   Main Navigation
******************************/
header {
  background: #4A5A28;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .25);
  z-index: 10;
}

header a {
  padding: 0 10px;
}

header li:first-of-type a {
  padding: 0;
}

header li:first-of-type {
  font-family: 'Carter One', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  flex: 1;
  width: 100%;
  margin: 0;
  border-left: none;
}

header li {
  list-style: none;
/*  border-radius: 10px;*/
  border-left: solid 2px #FFEEDA;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, .25);
  font-weight: bold;
  
  transition: text-shadow .25s ease-in-out;
}

header li:hover {
  text-shadow: 8px 8px 0 rgba(0, 0, 0, .25);
}

/******************************
   Footer
******************************/
footer {
  text-align: center;
  color: rgba(255, 255, 255, .2);
  padding: 20px;
}

/******************************
   Homepage
******************************/
.home {
  background-image: url('../img/homepage/Distant_trees.png');
  background-repeat: repeat-x;
  background-position: center top;
  z-index: 0;
}

#trees {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 450px;
  background-image: url('../img/homepage/Overlay_Trees.png');
  background-repeat: repeat-x;
  background-position: center 40px;
  z-index: 0;
}

#logo {
  background: #FFEEDA;
  background-image: url("../img/Canvas_Transparent.png");
  background-blend-mode: multiply;
  border: 10px solid #363f1a;
  border-radius: 50%;
  display: block;
  position: fixed;
  width: 50vw;
  max-width: 50vh;
  max-height: 50vh;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: auto;
  z-index: -1;
}

#logo:hover {
  animation: reverse-swivel .5s ease-in-out;
}

.home .wrapper {
  margin: 1200px auto 0;
}

/******************************
   Bio
******************************/
.bio #bio {
  
}

.bio #bio section {
  margin: 0 10px;
  width: 50%;
}

.bio #bio section:nth-child(1) {
    width: 400px;
}

/******************************
   Resume
******************************/
.bio #resume {
  
}

.bio #resume section {
    
}

/******************************
   Portfolio
******************************/
.portfolio .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.polaroid {
  display: inline-block;
  background: white;
  margin: 20px;
  padding: 20px 20px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, .25);
  position: relative;
  transform-origin: 50% 25px;
}

.polaroid:hover {
  animation: swivel .5s;
  animation-timing-function: ease-in-out;
}

.polaroid:hover .pin {
  animation: reverse-swivel .5s;
  animation-timing-function: ease-in-out;
}

.portfolio .pin {
  background-image: url("../img/portfolio/push-pin.svg");
  width: 100px;
  height: 100px;
  top: -25px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
}

.thumb img {
  border-radius: 5px;
}

.thumb h2 {
  margin: 10px 0 0;
}

.overlay {
  display: none;
  
  background: rgba(0, 0, 0, .77);
  position: fixed;
  height: 100vh;
  width: 100vw;
  min-width: 50vh;
  min-height: 50vh;
  top: 0;
  text-align: center;
  z-index: 11;
}

.overlay:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  animation: fade .4s ease-in-out;
}

.portfolio .container {
  background: white;
  border: solid 10px white;
  border-radius: 10px;
  display: inline;
}

.portfolio .container h2, .container p {
  margin: 0;
}

.overlay img {
  border-radius: 10px;
  max-height: 90vh;
  max-width: 90vw;
}

/******************************
   Contact
******************************/
.contact {
    
}

label {
  
}

input {
  display: block;
  margin: 1em;
  box-shadow: inset 5px 5px 0 rgba(0, 0, 0, .25);
}

input[type="submit"] {
    border: none;
}

/******************************
   Media Queries
******************************/

/* Mobile: below 512px = 32em */
@media screen and (max-width: 32em) {
  body {
    font-size: .8em;
  }
  
  header ul {
    flex-direction: column;
  }
  
  header li:first-of-type {
    font-size: 10vw;
    border-bottom: none;
  }
  
  header li {
/*    margin-bottom: 10px;*/
    margin-left: 0;
/*    width: 100%;*/
    border-left: none;
    border-bottom: solid 2px #FFEEDA;
  }
  
  header li:nth-child(4) {
    border-bottom: none;
  }

  header li:hover {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .25);
  }
  
  .wrapper {
    margin: 250px auto 0;
  }
}

/* Mobile: between 512px = 32em and 776px = 48.5em */
@media screen and (min-width: 32em) and (max-width: 48.5em) { 
  body {
    font-size: 1em;
  }
  
  header ul {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  header li:first-of-type {
    margin: 0;
    font-size: 10vw;
    flex: 0 1 100%;
  }
  
  header li {
    flex:1 0 auto;
  }
  
  header li:nth-child(2) {
    margin: 0;
    border-left: none;
  }
  
  .wrapper {
    margin: 200px auto 0;
  }
}

/* Tablet:  776px = 48.5em */
@media screen and (min-width: 48.5em)  {
  header li:first-of-type {
    font-size: 2em;
  }
  
  header li {
    font-size: 1.2em;
  }
  
  .wrapper {
    margin: 80px auto 0;
  }
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  header li:first-of-type {
    font-size: 3em;
  }
  
  header li {
    font-size: 2em;
  }
  
  .wrapper {
    margin: 110px auto 0;
  }
}
