//Colors
$bg: hsl(43, 100%, 95%);
$fg: hsl(80, 40%, 20%);

//Fonts
$headingFont: 'Quicksand', sans-serif;

//Header
$layers: 6;
$treeCount: 20;

//Masonry
$gutter: 2rem;
$masonrySize: 20rem;
$maxColumns: 4;
$titleFontSize: 2.5rem;
