@import url('https://fonts.googleapis.com/css?family=Carter+One|Comfortaa|Montserrat');

@import "normalize";
@import "lightgallery";

$bg: hsl(43, 100%, 95%);
$fg: hsl(80, 40%, 20%);

$layers: 6;
$treeCount: 20;

* {
   box-sizing: border-box;
}

body {
   background: $bg;
   margin: 0;
}

header {
   height: 90vh;
   margin: 0;
   position: relative;
   overflow: hidden;
   text-align: center;
  
   .terrain, #header-text {
      display: block;
      position: absolute;
   }

   .terrain {
      bottom: 0;
      fill: $fg;
      max-width: 75vmin;
      pointer-events: none;
   }

   .terrain.right {
      right: 0;
   }

   #header-text {
      top: 15vmin;
      width: 100%;
      text-align: center;
      color: $fg;
      font: 1rem 'Comfortaa', bold;
      padding: 0 2rem;
      visibility: hidden;
      pointer-events: none;

      h1, h3 {
         pointer-events: all;
      }

      h1 {
         margin-bottom: 0;
      }

      h3 {
         margin-top: 0;
      }

      #header-btn {
         background: $fg;
         color: $bg;
         border: none;
         border-radius: 50rem;
         height: 3rem;
         padding: 0;
         cursor: pointer;
         font: 1rem 'Comfortaa', bold;
         outline: none;
         pointer-events: all;
         transition: background 0.2s ease-in-out;

         p {
            display: inline-block;
            white-space: nowrap;
            margin: 0.25rem;
            margin-left: 1rem;
            line-height: 1.25rem;
         }
      }

      #header-arrow {
         fill: none;
         stroke: $fg;
         stroke-linecap: round;
         stroke-linejoin: round;
         stroke-width: 0.5px;
         float: right;
         height: 3rem;
         padding: 0.2rem;

         circle {
            fill: $bg;
            stroke: none;
         }

         path {
            transition: stroke 0.2s ease-in-out;
         }
      }
      
      #header-btn:hover {
         background: lighten($fg, 10%);
      }
      
      #header-btn:hover #header-arrow path {
         stroke: lighten($fg, 10%);
      }
   }
}

@media (min-width: 375px) and (min-height: 375px) {
   header #header-text, header #header-text #header-btn {
      font-size: 3vmin;
   }

   header #header-text #header-btn {
      height: 10vmin;
   }

   header #header-text #header-btn p {
      line-height: 4vmin;
      margin: 1vmin;
      margin-left: 4vmin;
   }

   header #header-text #header-arrow {
      height: 10vmin;
      padding: 1vmin;
   }
}

@media (min-width: 768px) and (min-height: 768px) {
   header #header-text, header #header-text #header-btn {
      font-size: 1.5rem;
   }
   
   header #header-text #header-btn {
      height: 5rem;
   }

   header #header-text #header-btn p {
      line-height: 2rem;
      margin: 0.5rem;
      margin-left: 2rem;
   }

   header #header-text #header-arrow {
      height: 5rem;
      padding: 0.5rem;
   }
}

.tree {
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 1.2px;
   pointer-events: none;

   display: block;
   position: absolute;
   bottom: -5px;

   path:not(.trunk) {
      pointer-events: none;
   }
}

.tree path {
   pointer-events: visibleStroke;
}

@for $i from 1 through $layers {
   $scale: round((($i - 1) / ($layers - 1)) * ($layers - 1));
   $r: red($bg) + (((red($fg) - red($bg)) / $layers) * ($scale + 1));
   $g: green($bg) + (((green($fg) - green($bg)) / $layers) * ($scale + 1));
   $b: blue($bg) + (((blue($fg) - blue($bg)) / $layers) * ($scale + 1));
      
   .layer#{$i}>path {
      fill: rgb($r, $g, $b);
   }

   .layer#{$i} .tree {
      stroke: rgb($r, $g, $b);
      
      .trunk {
      fill: rgb($r, $g, $b);
      }
   }
}

section {
   background: $fg;
   height: 100vh;
}