@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');
@import "variables";
@import "normalize";
@import "lightgallery";
@import "header";
@import "portfolio";

* {
   box-sizing: border-box;
}

body {
   background: $fg;
   margin: 0;
   font-family: $headingFont;
}